body {
background-color:beige;
}

h1
{
font-family: 'Bree Serif', serif;

color:turquoise;
letter-spacing: 1.5px;
font-size: 40px;
}

p
{
    font-family: 'Shantell Sans', cursive;
    font-size: 16px;
    color:black;
    letter-spacing: 1.5px;
    line-height:20px;
}
.button-link {
    border-radius:40px;
    border-style: solid;
    border-color:blueviolet;
    background-color:aquamarine;
    border-width: 2px;
    text-decoration: none;
    color:black;

}

.top-banner {
    height: 240px;
    text-align: center;
    padding-top: 110px;
    background-color:blueviolet;
}
.main-content{
   max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}
footer{
    height: 70px;
    text-align: center;
    background-color:blueviolet;
    padding: 10px 0;
}