body {
background-color:beige;
}

h1
{
font-family: 'Bree Serif', serif;
font-family: 'Shantell Sans', cursive;
color:turquoise;
letter-spacing: 1.5px;
font-size: 40px;
}

p
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:black;
    letter-spacing: 1.5px;
    line-height:20px;
}
.button-link {
    border-style: solid;
    border-color:blueviolet;
    background-color:aquamarine;
    border-width: 2px;
    text-decoration: none;
    color:black;

}